.about {
  text-align: center;
  margin: auto;
}
.about > div {
  text-align: justify;
}
.about > h2 {
  font-size: 3em;
  margin-top: 80px;
}
/* .description {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background: rgba(187, 134, 252, 0.1);
  border: 1px solid #bb86fc;
  border-radius: 10px;
}
.description p {
  color: #bb86fc;
} */
.description {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
