.about {
  text-align: center;
  margin: auto;
}
.about > div {
  text-align: justify;
}
.about > h2 {
  font-size: 3em;
  margin-top: 80px;
}
.description {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
