/* Seems like the smooth scroll-behavior is not supported by Safari. The progress bar on the backToTop button looks a bit less nice but still acceptable */
html {
  scroll-behavior: smooth;
}
.progress {
  position: fixed;
  bottom: 20px;
  right: 10px;
  height: 70px;
  width: 70px;
  display: none;
  place-items: center;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.progressValue {
  display: block;
  height: calc(100% - 15px);
  width: calc(100% - 15px);
  background-color: #d7d7d7;
  border-radius: 50%;
  display: grid;
  place-items: center;
  font-size: 35px;
  color: #0784b5;
}
