@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: white;
}
html,
body {
  min-height: 100%;
}
body {
  background: radial-gradient(
    at top left,

    #403b4a 0%,
    #e7e9bb 100%
  );
  background-repeat: no-repeat;
  height: 100%;
}
p {
  margin: 16px auto;
  line-height: 1.5em;
}

/* layout & nav */
.layout {
  /* max-width: 1200px; */
  width: 60%;
  margin: 0 auto;
}
.content {
  flex: 1;
}
nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 40px auto;
}
nav .links {
  display: inline-block;
  text-align: right;
}
/* nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
} */
/* nav a:hover {
  border-color: white;
} */
nav a {
  display: inline-block;
  margin-left: 20px;
  font-weight: 400;

  /* border-bottom: 3px solid transparent; */
}
nav a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: white;
  display: block;
  margin: auto;
  margin-top: 5px;
  transition: 0.5s;
}
nav a:hover::after {
  width: 100%;
}
.image {
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: #403b4a;
  border-radius: 6px;
}

.about {
  text-align: center;
}
.about > h2 {
  font-size: 3em;
  margin-top: 80px;
}
