.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  align-items: center;
}
.header h2 {
  font-size: 4em;
}
.header h3 {
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 20px;
}
.autoText {
  color: #0784b5;
}
.btn {
  display: inline-block;
  background: rgba(7, 132, 181, 0.1);
  border: 1px solid #0784b5;
  color: #0784b5;
  padding: 10px 16px;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 10px;
  font-weight: 500;
  transition: 0.5s;
}
.btn:hover {
  background: #0784b5;
  color: black;
}
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.img {
  position: relative;
  border-radius: 10px;
  border: solid 1px #0784b5;
  top: 0;
  left: 0;
}

@media (max-width: 600px) {
  .header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .img {
    position: relative;
    border-radius: 10px;
    top: 0;
    left: 0;
  }
}
