.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  align-items: center;
}
.header h2 {
  font-size: 4em;
}
.header h3 {
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 20px;
}
.btn {
  display: inline-block;
  background: #403b4a;
  padding: 10px 16px;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 10px;
  font-weight: 500;
}
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.img {
  border-radius: 10px;
  position: relative;
  top: 0;
  left: 0;
}
.shape {
  width: 350px;
  height: 350px;
  background-color: #403b4a;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  position: absolute;
  left: 50px;
}
@media (max-width: 400px) {
  .img {
    display: none;
  }
}
