.portfolio {
  text-align: center;
}
.portfolio > h2 {
  font-size: 3em;
  margin-top: 80px;
}
.portfolio > h3 {
  font-size: 2em;
  font-weight: 400;
}
.projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.project {
  height: 500px;
  width: 300px;
  /* background: rgba(187, 134, 252, 0.1);
  border: 1px solid #bb86fc; */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  word-wrap: break-word;
  overflow: auto;
  margin: 30px;
}
.text {
  margin-left: 10px;
  margin-right: 10px;
}
/* .text h3 {
  color: #bb86fc;
}
.text p {
  color: #bb86fc;
} */
.projects h3 {
  text-align: center;
  margin: 20px auto 0px;
  font-weight: 500;
}
.projects p {
  margin-top: 4px;
}
